
   body{
       background-color: greenyellow;
   }

   #top{
       background-color:lightgoldenrodyellow;
       padding:5px
   }

   .intro{
       color:blueviolet;
       font-weight:bolder;
   }